@import url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css');

.swiper .swiper-slide {
  height: auto;
}

.progress.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress::after {
  position: absolute;
  font-family: 'unicons';
  content: '\e84b';
  text-align: center;
  line-height: 4.6rem;
  font-size: 2.4rem;
  color: rgb(12 12 24); /* --- Pijl kleur --- */
  left: 0;
  top: 0;
  height: 4.6rem;
  width: 4.6rem;
  cursor: pointer;
  display: block;
  z-index: 900;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress svg path {
  fill: none;
}
.progress svg.progress-circle path {
  stroke: rgba(233, 4, 134, 1);
  stroke-width: 6;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap::before {
  position: absolute;
  content: '';
  z-index: -1;
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  background-color: #ffffffd1;
  filter: blur(0.7rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  border-radius: 50%;
  z-index: -1;
}

.bn .swiper-pagination {
  position: relative;
  margin-top: 2rem;
  height: auto;
}

.bn .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background-color: #3b3b44;
  height: 0.6rem;
  width: 3.2rem;
  transform: skew(-20deg);
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

.bn .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}

/* Header mobile */
@media screen and (max-width: 1024px) {
  .menu-toggle {
    display: block;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.header-language {
  @apply relative cursor-pointer;
}

.header-language:hover .header-language-box {
  opacity: 100;
}

.header-language-box {
  @apply text-white text-[14px] font-bold bg-slate-700 absolute top-12 right-5 opacity-0;
}

.header-language-box > li {
  @apply w-[150px] py-2 hover:bg-gray-600 pl-4;
}
